body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 150px;
}

h1 {
    font-size: 50px;
    line-height: .4;
}

h2 {
    font-size: 30px;
}

.pd {
    padding: 80px 50px;
}



.sec-bg {
    background-color: aliceblue;
}


.top-image {
    background-image: url(images/donation13.jpg);
    height: 450px;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;

}

.donate-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: rgb(39, 188, 247);
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 15px;
}

.center {
    text-align: center;
}

.flexible {
    display: flex;
    margin-top: 4%;
    justify-content: center;

}

.gray-color div {
    color: grey;
    border: 2px solid white;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.other-amount {
    border: 0;
    border-bottom: 2px solid #868585;
    display: block;
    width: 60%;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
}

#num-color {
    border: 2px solid orangered;
    color: orangered;
}

#food {
    text-align: left;
    background-color: hsl(159, 82%, 93%);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

#shelter {
    text-align: left;
    background-color: #fff2f4e0;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

#training {
    text-align: left;
    background-color: rgb(252, 234, 214);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

#email {
    padding: 15px 35px;
    margin-right: -6px;

}

.email-background {
    background-color: bisque;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer {
    text-align: center;
    color: rgb(39, 188, 247);
    background-color: rgb(18, 17, 24);
    padding: 10px;
}

footer p {
    color: white;
}